<form action="/bars/{{id}}" method="POST" style="clear: left; text-align: center;">
	

	<input type="hidden" name="_method" value="PUT">
  		<label for="title">Title<br>
    <input type="text" name="title" value="{{bars.title}}"><br>
 		 </label><br>

    <select>
        {{#each authors}}
            <option type="text" name="author_id" value={{id}}>{{author_name}}</option>
        {{/each}}
    </select><br>

    <select>
        {{#each authors}}
            <option type="text" name="author_id" value={{id}}>{{email}}</option>
        {{/each}}
    </select><br>

    <select>
        {{#each authors}}
            <option type="text" name="author_id" value={{id}}>{{location}}</option>
        {{/each}}
    </select><br>

    <select>
        {{#each categories}}
            <option type="text" name="category_id" value={{id}}>{{name}}</option>
        {{/each}}
    </select><br>

 	<input type="hidden" name="_method" value="PUT">
  		<label for="img_url">Photo URL<br>
    <input type="text" name="img_url"><br>
 		 </label><br>

 	<input type="hidden" name="_method" value="PUT">
  		<label for="time_edited">Date<br>
    <input type="text" name="time_edited"><br>
 		 </label><br>

 	<input type="hidden" name="_method" value="PUT">
	<label for="article_text">Please write your article<br>
	<textarea class="text" name="article_text" style="text-align: left; width: 300px; height: 300px; overflow: auto;" value="{{bars.article_text}}" ></textarea>
	</label><br>

	<input type="submit" value="Submit">

</form>


<form action="/bars/{{id}}" method="POST" style="clear: left; text-align: center;">
	
	<input type="hidden" name="_method" value="DELETE">

	<button>Delete</button>

</form>